<div style="display:inline-block;">
     <h2>Bienvenu dans G_Biblio</h2>
	 <b>
         Cette application vous permet de gérer votre bibliothèque, par exemple: elle vous permet<br />
          <span style="color:#9E1409">		 
         - de connaitre la position des livres dans la bibliothèque <br />
		 - d'avoir des informations sur un livre X donné<br />
		 - de connaitre le nombre de livre dans la bibliothèque<br />
		 - de retrouver un livre X<br />
		 - ect
		 </span>
	 <b>
<h3>Voici les exemples de livre qui existent dans la bibliothèque:</h3>
</div>

   
 
 
     <p style="vertical-align: top;">
          <% @books.each do |book| %>
		<%= link_to image_tag(book.image, class:'image2'), book  %>
		  <% end %>
     </p>
<h3><%= link_to 'Ajouter un livre', new_book_path %></h3>
